# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java#apache-maven-with-a-settings-path

name: Maven Package

on:
  workflow_dispatch:
    branches:
      - master
      - release/*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - id: get-release-version
        uses: actions/github-script@0.9.0
        with:
          script: |
            const releaseVersion = process.env.GITHUB_REF_SLUG.substring(process.env.GITHUB_REF_SLUG.indexOf("-") + 1, process.env.GITHUB_REF_SLUG.lastIndexOf("."));
            core.setOutput('releaseVersion', releaseVersion)

      - name: Set up JDK 1.17
        uses: actions/setup-java@v1
        if: ${{ steps.get-release-version.outputs.releaseVersion == '1.18' || steps.get-release-version.outputs.releaseVersion == '1.19'  || steps.get-release-version.outputs.releaseVersion == '1.20' }}
        with:
          java-version: 1.17
          server-id: staffplusplus-repo
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Set up JDK 1.16
        uses: actions/setup-java@v1
        if: ${{ steps.get-release-version.outputs.releaseVersion == '1.17' }}
        with:
          java-version: 1.16
          server-id: staffplusplus-repo
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        if: ${{ steps.get-release-version.outputs.releaseVersion != '1.17' && steps.get-release-version.outputs.releaseVersion != '1.18' && steps.get-release-version.outputs.releaseVersion != '1.19' && steps.get-release-version.outputs.releaseVersion != '1.20' }}
        with:
          java-version: 1.8
          server-id: staffplusplus-repo
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Publish package
        run: mvn -B deploy
        env:
          MAVEN_USERNAME: ${{ secrets.REPO_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.REPO_PASS }}
      - name: Push tag
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: none
